:root {
    box-sizing: border-box;
}

#maze {
    background-color: grey;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.row {
    flex-grow: 1;
    display: flex;
}

.block.wall {
    background-color: black
}

.block {
    flex-grow: 1;
    background-color: white;
}

.block.start {
    background-color: green;
}

.block.finish {
    background-color: red;
}

#player {
    width: 28px;
    height: 33px;
    background: blueviolet;
    border-radius: 50%;
    position: absolute;
    left: 200px;
    top: 200px;
}