:root {
    box-sizing: border-box;
}

body {
    background-image: url(rss/img.jpg);
}

h1 {
    font-family: 'Piedra', cursive;
    text-align: center;
    font-size: 75px;
    color: whitesmoke;
}

#maze {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.row {
    display: flex;
}

.wall {
    height: 20px;
    width: 20px;
    background-color: black;
}

.block {
    height: 20px;
    width: 20px;
    background-color: white;
}

.start {
    height: 20px;
    width: 20px;
    background-color: green
}

.finish {
    height: 20px;
    width: 20px;
    background-color: red;
}

.player {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: purple;
    top: 0;
    left: 0;
}


/* WAS TRYING TO GET SOMETHING ANIMATED TO RUN SAYING 'YOU MADE IT!' AFTER MAZE WAS COMPLETED WAS COULDNT FIGURE IT OUT. */


/* #msg {
    background-image: url(rss/img.jpg);
    color: whitesmoke;
    font-size: 50px;
    animation-name: slidein;
    animation-duration: 3s;
} */

.win {
    font-family: 'Piedra', cursive;
    text-align: center;
    font-size: 75px;
    color: whitesmoke;
}