:root {
    box-sizing: border-box;
}

body {
    background-image: url(rss/img.jpg);
}

h1 {
    font-family: 'Piedra', cursive;
    text-align: center;
    font-size: 75px;
    color: whitesmoke;
}

#maze {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.row {
    display: flex;
}

.wall {
    height: 20px;
    width: 20px;
    background-color: rgb(13, 26, 0);
}

.block {
    height: 20px;
    width: 20px;
    background-color: rgb(242, 255, 230);
}

.start {
    height: 20px;
    width: 20px;
    background-color: rgb(25, 77, 0);
}

.finish {
    height: 20px;
    width: 20px;
    background-color: rgb(153, 25, 0);
}

.player {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: rgb(115, 0, 230);
    border-radius: 70%;
    top: 0;
    left: 0;
}


/* IGNORE THIS- THIS WAS FOR MY 'TRAIL'
.dot {
    background-color: red;
    position: relative;
    height: 2px;
    width: 2px;
} */


/* WAS TRYING TO GET SOMETHING ANIMATED TO RUN SAYING 'YOU MADE IT!' AFTER MAZE WAS COMPLETED WAS COULDNT FIGURE IT OUT. */


/* #msg {
    background-image: url(rss/img.jpg);
    color: whitesmoke;
    font-size: 50px;
    animation-name: slidein;
    animation-duration: 3s;
} */

.win {
    font-family: 'Piedra', cursive;
    text-align: center;
    font-size: 75px;
    color: whitesmoke;
}